.register-card {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.08), 25, 0, 0, 8);
}

.left-pane-register {
    -fx-background-color: linear-gradient(to bottom right, #111827, #1f2937, #030712);
    -fx-background-radius: 20 0 0 20;
}

.right-pane-register {
    -fx-background-color: white;
    -fx-background-radius: 0 20 20 0;
}

.glass-card {
    -fx-background-color: rgba(255, 255, 255, 0.85); /* Màu trắng trong suốt */
    -fx-background-radius: 15;
    -fx-padding: 25;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 15, 0, 0, 5);
}

.input-label {
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-text-fill: #8a94a6;
    -fx-letter-spacing: 1px;
}

/* Vỏ bọc giả làm TextField (Đã đổi nền sang #F0F2F5) */
.input-container {
    -fx-background-color: #F0F2F5;
    -fx-background-radius: 8;
    -fx-padding: 0 10;
    -fx-border-color: transparent;
    -fx-border-radius: 8;
    -fx-pref-height: 45px;
}

.input-container:focused-within {
    -fx-border-color: #0052D4;
    -fx-background-color: white;
}

.input-field-transparent {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-font-size: 14px;
    -fx-text-fill: #1a2b4c;
}
.input-field-transparent:focused {
    -fx-background-color: transparent;
}

.button-primary {
    -fx-background-color: #0052D4;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}
.button-primary:hover {
    -fx-background-color: #0041A8;
}

.social-button {
    -fx-background-color: #F0F2F5;
    -fx-text-fill: #1a2b4c;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}
.social-button:hover {
    -fx-background-color: #E4E7EB;
}